---
layout: default
---
<div style="position: relative; width: 100%; height: auto; margin-bottom: 20px;">
  <!-- Banner Image -->
  <img src="assets/images/lamp.jpg" alt="Banner Image" style="width: 100%; height: auto; max-height: 400px; object-fit: cover;">
  
  <!-- Profile Image -->
  <img src="assets/images/Profile.jpg" alt="Profile Image" class="profile-image" 
       style="position: absolute; bottom: 0px; left: 10%; transform: translateX(-50%); width: 180px; height: 180px; border-radius: 50%; border: 5px solid rgb(71, 70, 70);">
</div>
<div style="text-align: justify; margin-top: 0px; margin-bottom: 10px; margin-right: auto; font-size: 18px;">
  <p>
    <em>
      I am an engineering and computer science professional with a background in 
      Mechatronic Engineering and a Master's in Computer Science. My experience includes automation,
      control systems, Python programming, and research in computational architectures for 
      emotional regulation. I have three years of expertise in test automation for the automotive sector, 
      leveraging tools like Python, C, VSCode, Linux, and Git. Explore my projects on GitHub to collaborate on innovative solutions.
    </em>
  </p>
</div>
<div style="display: flex; align-items: right; gap: 20px; margin-bottom: 50px;">
  <div class="container text-center" style="margin-top: auto; margin-left: -20px;">
    <div class="container footer-container">{% include svg_icons.html %}</div>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light" style="margin-bottom: 20px; margin-top: -60px;"></nav>
<div style="text-align: justify; margin-top: 0px; margin-bottom: 10px; margin-right: auto; font-size: 18px;">
  <img src="./assets/images/certifications.png" alt="Certification Icon" style="width: 40px; height: 40px; vertical-align: middle; margin-right: 10px;">
  <p style="display: inline;">
    <em>
      Below you can find the certifications I have obtained, demonstrating my commitment to continuous learning and professional development.
    </em>
  </p>
</div>

<div style="margin-bottom: 20px;">
  {% assign certs = site.static_files | where: "path", "/assets/images/certifications" %}
  {% for cert in site.static_files %}
    {% if cert.path contains "/assets/images/certifications/" %}
      <a style="color: rgb(202, 218, 61);">🔗</a>
      <a  href="{{ cert.path | relative_url }}" target="_blank" style="font-size: 18px; color: #44d397; text-decoration: underline;">
        {{ cert.name }}{{ cert.ext | upcase }}
      </a>
      <br>
    {% endif %}
  {% endfor %}
</div>
<h2 class="text-left" style="font-size: 24px; font-weight: bold; color: #feffff; margin-top: 20px; margin-bottom: 10px; border-bottom: 2px solid #8f99ad; padding-bottom: 5px;">
  <em>
  Projects:
  </em>
</h2>
<div class="archive">
  {% for post in site.pages %}
    <div class="archive-item" style="font-family: 'Times New Roman', Times, serif;">
      <em>
        <a style="color: rgb(26, 165, 68);">🔗</a> <a href="{{ post.url | relative_url }}" class="archive-title fs-4" style="color: #4ca0af;">{{ post.title }}</a>
      </em>
    </div>
  {% endfor %}
</div>

<h2 class="text-left" style="font-size: 24px; font-weight: bold; color: #feffff; margin-top: 20px; margin-bottom: 10px; border-bottom: 2px solid #8f99ad; padding-bottom: 5px;">
  <em>
  Informative Articles:
  </em>
</h2>
<div class="archive">
  <div class="archive-item" style="font-family: 'Times New Roman', Times, serif;">
    <em>
      <a style="color: rgb(26, 165, 68);">🔗</a>
      <a href="{{ site.baseurl }}/stuff/#introduction-to-devops" class="archive-title fs-4" style="color: #4ca0af;">Introduction to DevOps</a>
    </em>
    <div style="margin-left: 30px; margin-top: 10px;">
      <p>
        This article introduces the principles and practices of DevOps, covering automation, collaboration, and continuous integration for modern software development.
      </p>
    </div>
  </div>
</div>
