---
layout: default
---
<div style="display: flex; align-items: center; gap: 20px; margin-bottom: 10px;">
  <img src="assets/images/Profile.jpg" alt="Profile Image" class="profile-image" style="width:230px; height:230px; border-radius:50%;">
  <p>
    <strong>
      I am an engineering and computer science professional with a background in Mechatronic Engineering and a Master's in Computer Science. My experience includes automation, control systems, Python programming, and research in computational architectures for emotional regulation. I have three years of expertise in test automation for the automotive sector, leveraging tools like Python, C, VSCode, Linux, and Git. Explore my projects on GitHub to collaborate on innovative solutions.
    </strong>
  </p>
</div>
<div style="display: flex; align-items: right; gap: 20px; margin-bottom: 50px;">
  <div class="container text-center", style="margin-top: -70px;margin-left: 225px;">
    <div class="container footer-container">{% include svg_icons.html %}</div>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light" style="margin-bottom: 20px; margin-top: -60px;"></nav>
<h2 class="text-left">Projects:</h2>
<div class="archive">
  {% for post in site.pages %}
    <div class="archive-item">
      <a href="{{ post.url | relative_url }}" class="archive-title fs-4">{{ post.title }}</a>
    </div>
  {% endfor %}
</div>
