{% if site.footer-links.email %}
<a class="footer-icon-links" href="mailto:{{ site.footer-links.email }}">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
       class="bi bi-envelope-fill footer-icons" viewBox="0 0 16 16">
    <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 
             1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 
             4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 
             14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 
             9.586l-1.239-.757zm3.436-.586L16 
             11.801V4.697l-5.803 3.546z"/>
  </svg>
</a>
{% endif %}

{% if site.footer-links.instagram %}
<a class="footer-icon-links" href="https://instagram.com/{{ site.footer-links.instagram }}">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
       class="bi bi-instagram footer-icons" viewBox="0 0 16 16">
    <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088..."/>
  </svg>
</a>
{% endif %}

{% if site.footer-links.twitter %}
<a class="footer-icon-links" href="https://www.twitter.com/{{ site.footer-links.twitter }}">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
       class="bi bi-twitter footer-icons" viewBox="0 0 16 16">
    <path d="M5.026 15c6.038 0 9.341-5.003..."/>
  </svg>
</a>
{% endif %}

{% if site.footer-links.facebook %}
<a class="footer-icon-links" href="https://www.facebook.com/{{ site.footer-links.facebook }}">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
       class="bi bi-facebook footer-icons" viewBox="0 0 16 16">
    <path d="M16 8.049c0-4.446-3.582-8.05..."/>
  </svg>
</a>
{% endif %}

{% if site.footer-links.github %}
<a class="footer-icon-links" href="https://github.com/{{ site.footer-links.github }}">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
       class="bi bi-github footer-icons" viewBox="0 0 16 16">
    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54..."/>
  </svg>
</a>
{% endif %}

{% if site.footer-links.linkedin %}
<a class="footer-icon-links" href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
       class="bi bi-linkedin footer-icons" viewBox="0 0 16 16">
    <path d="M0 1.146C0 .513.526 0 1.175 0h13.65..."/>
  </svg>
</a>
{% endif %}

{% if site.footer-links.cv %}
<a class="footer-icon-links" href="{{ site.footer-links.cv }}" target="_blank">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
       class="bi bi-file-earmark-text footer-icons" viewBox="0 0 16 16">
    <path d="M14 4.5V14a2 2 0 0 1-2 
             2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 
             2-2h5.5L14 4.5z"/>
    <text x="4" y="13" font-size="6" fill="currentColor" font-family="Arial, sans-serif">CV</text>
  </svg>
</a>
{% endif %}

{% if site.footer-links.rss %}
<a class="footer-icon-links" href="{{ site.baseurl }}/feed.xml">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
       class="bi bi-rss footer-icons" viewBox="0 0 16 16">
    <path d="M14 1a1 1 0 0 1 1 1v12..."/>
  </svg>
</a>
{% endif %}
